.listContent {
  margin: 0 250px 0 250px;
  padding: 20px;
}

.completed {
  margin-top: 50px;
}

.addTask {
  text-align: right;
  margin-bottom: 20px;
}

.tasksTopMargin {
  margin-top: 16px;
}

.headerBotMargin {
  margin-bottom: 16px;
}

.popup {
  min-width: 50vw;
}

/* Resets */

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

